<section class="grid">
	
	<div class="box events">
		<p>Events</p>
		<iframe src="https://calendar.google.com/calendar/embed?src=qc3lsd33an9mluf84cam5b78tg%40group.calendar.google.com&ctz=Europe%2FLondon" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		<!-- <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=gmail.com&amp;color=%232952A3&amp;ctz=Europe%2FLondon" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
		<p>Upcoming Events</p>
		<ul>
			<li>Stitch & sell 05.02.19</li>
		</ul>
	</div>
	
	<div class="box counselling">COUNSELLING</div>
	<div class="box advice">HELP & ADVICE</div>
	<div class="box volunteer">Volunteer with us</div>
	<div class="box donate">
		<p>DONATE</p>
		<p class="donate">Your Donations are very important for us to continue our servcies. Please donate generously.</p>
		<div class="justgiving">
			JustGivingTM Donante Now
		</div>
	</div>
</section>