// COLOR VARIABLES
$white: #FFF;
$lilac: #d9d5f8;
$grey: #575658;
// $background-white: #FFF;

// TYPOGRAPHY VARIABLES
$primary-font: 'Karla', sans-serif;

// NUMERICAL VARIABLES
$default-padding: 2%;

header, section {
	color: $white;
	font-size: 1.5em; /*  24px with base fo 16px */
	text-align: center;
	margin: auto;
	width: 80%;
}

header, nav, section  {
font-family: $primary-font;
}

p {
  padding: 5%;
}

ul {
	margin: 0 10% 0 10%;
	overflow: hidden;
  li { 
	display: inline;
	// float: left; //property ignored due to display:inline?
	padding-right: 1em;
	// list-style-type: none;
  }
  a:hover {
	opacity: .7;
  }
}

@media only screen and (max-width:960px) {
	section {
		font-size: 1em;
	}

	body {
		background-color: lightblue;
		
	}
}