footer {
	background-color: $lilac;
	height: 200px;
	padding: $default-padding;	
}

.contact {
	color: $grey; 
	padding: $default-padding;
}

.contact__address {
	font-size: .75em;
	padding: $default-padding;
}

.footer__headline {
	color: $grey; 
}

.contact__tel {
	float: left;
	padding: $default-padding;
}

.contact__reachus{
	float:	right;
	padding: $default-padding;
}


/*<h1 class="header__headline">HARROW WOMEN'S CENTRE</h1>
<p class="contact__address">Andrews Close, Off Bessborough Road, Harrow,HA1 3GE</p>
<p class="contact__tel">Call us: 020 8422 1100</p>
<p class="contact__reachus">How to reach us</p>*/