nav	{
	width: 100%;
	display: block;
	background-color: $lilac;
	padding: .25em;
	/*font-family: Lucida Grande;*/
	font-size: 1.5em;
	/*height: 25px;*/
}

/*.nav__left {
	float: left;
}*/

/*li.nav__right*/
.nav__right {
	float: right;
	padding: 0%;
}

nav li{
	a {
		color: $grey; 
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}