.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
	height: 600px;
	margin-top: 10px;
	margin-bottom: 30px;
	justify-content:	space-evenly;
}

iframe {
  width: 90%;
  height: 40%;
}

.events {
	background-color: #70947E;
	grid-row: 1 / span 2;
	/*grid-area: 1 / 1 / span 1 / span 2;*/
	/*display: flex;
	align-items: center;
	justify-content: center;*/
}

p.events {
	float: left;
}  

ul.events {
	float: left;
}

li.upevents {
	list-style-type: square;
}
.counselling {
	background-color: #7E0211;
	display: flex;
	align-items: center;
	justify-content: center;
}

.advice {
	background-color: #8EA1B0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.volunteer {
	background-color: #8C528C;
	display: flex;
	align-items: center;
	justify-content: center;
}

.donate {
	background-color: #F5A623;
	/*#F58220* JustGiving Orange - secondary color/
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	/*text-align: left;*/
}

p.donate {
	  font-size: 20px;
	  /*purple look is #AD29B6*/
}

div.justgiving {
	color: #AD29B6;
	background-color: white;
	margin: 10px;
}

.box {
	border-radius: 5px;
}